import { Route, Routes } from 'react-router';
import { HomePage } from '../pages/HomePage';

export function App() {
  return (
    <div className="mx-auto min-h-dvh max-w-4xl px-4 py-8">
      <Routes>
        <Route index element={<HomePage />} />
      </Routes>
    </div>
  );
}

export default App;
